body{
    color: rgb(104, 248, 124);
}

p{
    text-align: center;
}
h1{
    text-align: center;
}
label{
    color: black;
    font-size: larger;
}
form{
    display: inline-block;
}
table{
    background-color: cornflowerblue;
    color: black;
}

li{
    background-color: rebeccapurple;
}